{{- range $manifest := .Values.manifests }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ $manifest.name }}
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-options: Prune=true
    argocd.argoproj.io/sync-wave: "{{ $manifest.sync_wave | default 0 | toString }}"
spec:
  project: default
  source:
    repoURL: https://github.com/caiocsgomes/aws-eks-cluster
    path: {{ $.Values.base_path }}/{{ $manifest.name }}
    targetRevision: HEAD
  destination:
    server: "https://kubernetes.default.svc"
    namespace: {{ $manifest.name }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
{{- end }}
