github_repo: https://github.com/caiocsgomes/aws-eks-cluster
base_path: kubernetes
destination:
  server: https://kubernetes.default.svc
charts:
- name: aws-load-balancer-controller
  sync_wave: "-1"
- name: gha-runner-scale-set-controller
  sync_wave: "0"
- name: gha-runner-scale-set
  sync_wave: "1"
- name: external-secrets
  sync_wave: "-1"
- name: aws-ebs-csi-driver
  sync_wave: "-1"
manifests:
- name: argocd
- name: secrets
