name: Terraform Destroy

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

permissions: write-all

jobs:
  destroy:
    runs-on: ubuntu-latest
    environment: prod
    steps:
    - name: configure aws credentials
      uses: aws-actions/configure-aws-credentials@v3.0.1
      with:
        # role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        # role-session-name: GitHub_to_AWS_via_FederatedOIDC
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: install terraform
      uses: hashicorp/setup-terraform@v2

    - name: checkout repository
      uses: actions/checkout@v3
      with:
        submodules: 'true'

    - name: configure kubectl
      continue-on-error: true
      run: |
        aws eks update-kubeconfig --name ${{ secrets.EKS_CLUSTER_NAME }} --region ${{ secrets.AWS_REGION }}

    - name: checkout code
      uses: actions/checkout@v4

    - name: delete cluster app of apps
      continue-on-error: true
      run: kubectl delete -f kubernetes/app-of-apps.yaml

    - name: terraform init
      run: terraform init
      working-directory: terraform/environments/prod

    - name: terraform destroy
      run: terraform destroy -auto-approve -lock=false
      working-directory: terraform/environments/prod
